DAOMod Schemas and Models/DAOMod_XSD_Decentralized_Organization.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Organization Diagram -->
    <xs:element name="DAOMod_DO_diagram">
        <xs:complexType>
            <xs:sequence>
                <!-- DAO Element -->
                <xs:element name="DAO" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Role" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                        <xs:element name="is_controlled_by" type="xs:IDREFS" minOccurs="0" maxOccurs="unbounded" />
                                        <xs:element name="associated_to" type="xs:IDREFS" minOccurs="0" maxOccurs="unbounded" />
                                        <xs:element name="aggregates" type="xs:IDREFS" minOccurs="0" maxOccurs="unbounded" />
										<xs:element name="member_of">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:IDREFS">
                                                        <xs:attribute name="condition" type="xs:string" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                            </xs:element>
                                    </xs:choice>
                                    <xs:attribute name="id" type="xs:ID" use="required" />
                                    <xs:attribute name="role_name" type="xs:string" use="required" />
                                    <xs:attribute name="n_agents_min" type="xs:int" use="optional" />
                                    <xs:attribute name="n_agents_max" type="xs:int" use="optional" />
                                    <xs:attribute name="assignment_method" type="xs:string" use="optional" />
                                    <xs:attribute name="agent_type" use="optional">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="human" />
                                                <xs:enumeration value="autonomous_agent" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                        </xs:attribute>
                                    <xs:attribute name="federation_level" type="xs:int" use="required"/>
                                    <xs:attribute name="aggregation_level" type="xs:int" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Committee" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                        <xs:element name="is_controlled_by" type="xs:IDREFS" minOccurs="0" maxOccurs="unbounded" />
                                        <xs:element name="associated_to" type="xs:IDREFS" minOccurs="0" maxOccurs="unbounded" />
                                        <xs:element name="aggregates" type="xs:IDREFS" minOccurs="0" maxOccurs="unbounded" />
										<xs:element name="member_of" type="xs:IDREFS" minOccurs="0" maxOccurs="unbounded" />
                                    </xs:choice>
                                    <xs:attribute name="id" type="xs:ID" use="required" />
                                    <xs:attribute name="committee_name" type="xs:string" use="required" />
                                    <xs:attribute name="n_agent_min" type="xs:integer" use="optional" />
                                    <xs:attribute name="n_agent_max" type="xs:integer" use="optional" />
                                    <xs:attribute name="appointment_method" type="xs:string" />
                                    <xs:attribute name="federation_level" type="xs:int"/>
                                    <xs:attribute name="aggregation_level" type="xs:int"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="GovernanceArea" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="gov_area_ID" type="xs:ID" use="required"/>
                                    <xs:attribute name="gov_area_description" type="xs:string" use="required" />
                                    <xs:attribute name="implementation" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="on-chain"/>
                                                <xs:enumeration value="hybrid"/>
                                                <xs:enumeration value="off-chain"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="Permission" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="permission_ID" type="xs:ID" use="required" />
                                    <xs:attribute name="allowed_action" type="xs:string" use="required" />
                                    <xs:attribute name="permission_type" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="structural" />
                                                <xs:enumeration value="strategic" />
                                                <xs:enumeration value="operational" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="DAO_ID" type="xs:ID" use="required" />
                        <xs:attribute name="DAO_name" type="xs:string" use="required" />
                        <xs:attribute name="mission_statement" type="xs:string" />
                        <xs:attribute name="hierarchical_inheritance" type="xs:boolean" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="uniqueID" type="xs:ID" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>